/*==============GENERAL===================  */
body {
  background: #48ACF0;
  color: white;
  padding-top: 3rem;
  padding-bottom: 3rem;

}

.btn{
  background: #BAFF29;
  color: #2A2B2E;
  border: none;
}

input[type="submit"]:hover, input[type="submit"]:focus {
  background:#2A2B2E;
  color: #BAFF29;
  border: none;
}

 .btn:focus, .btn:active, .form-control-sm:focus, .form-control-sm:active {
   outline: 0;
 }

 input[type="number"] {
   width: 50px;
 }

 .table, .form-control {
   width: 50%;
 }

.fa {
  color: #BAFF29;
}

/*==============NAV======================  */
.home-nav{
    background-color: #2A2B2E;
    top: 10;
    left: 10;
    width: 50%;
    margin: 10px auto;
    position: fixed;
    z-index: 1030;
    max-height: 40px;
    margin-bottom: 20px;
    display: block;
}

.nav-links-container {
  padding-left: 10px;
  display: flex;
  flex-direction: row;
}

.navigation{
  margin-top: 10px;
  padding-left: 0;
  font-size: 20px;
}

.navigation > li {
  display: inline;
  margin: 10px;
}

.navigation > li {
  color: #fff;
  background-color: transparent;
  display: inline;
  margin: 10px;
  text-transform: uppercase;
  padding: 4px;
}

.navigation > li:hover {
  color: #BAFF29;
  cursor: pointer;
}

.fa:hover {
  color: white;
  cursor: pointer;
}



/*==============LOGIN PAGE=================  */

/*==============SHOW PAGE=================  */
