/*==============GENERAL===================  */
body {
  background: #48ACF0;
  color: white;
  font-family: 'Quicksand', sans-serif;
}

.btn{
  background: #BAFF29;
  color: #2A2B2E;
  border: none;
}

button:hover, button:focus {
  background:#2A2B2E;
  color: #BAFF29;
  border: none;
}

 button:focus, button:active, .form-control-sm:focus, .form-control-sm:active {
   outline: 0;
 }

 input[type="number"] {
   width: 75px;
 }

 .table, .form-control {
   max-width: 700px;
   margin: auto;
 }

.fa {
  color: #BAFF29;
}

/*==============NAV======================  */
.burger {
  margin: 0;
  margin-top: 10px;

}

.burger >p {
  width: 45px;
  margin: 0;
  margin-left: 95%;
  font-size: 30px;
}

.burger >p >.fa:hover {
  color: white;
}

nav {
  position: fixed;
  overflow: auto;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3000;
  background-color: #2A2B2E;
  justify-content: center;
}

.nav-links {
  padding: 0;
  margin: 0;
  margin-top: 30px;
  position: relative;
  top: 50%;
  transform: translateY(-80%);
}

.nav-links > li {
  list-style: none;
  margin: 0 auto;
  text-align: center;
  font-size: 50px;
  padding: 30px;
  border-bottom: 1px dotted  rgba(186, 255, 41, 0.2);
}

.nav-links > li:hover {
  cursor: pointer;
  background: #BAFF29;
  color: #2A2B2E;
}

/*==============INFO MODAL=================  */

.transparentContainer {
  position: fixed;
  overflow: auto;
  z-index: 3000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;



}

.modal {
  background: rgba(186, 255, 41, 0.7);
  overflow: auto;
  height: 90%;
  margin: 30px auto;
  display: block;
  border-radius: 5px;
  color: #2A2B2E;
}

#infoClose {
  margin-top: 10px;
}

#infoClose > .fa {
  color: #2A2B2E;
}

#infoClose > .fa:hover {
  color:#48ACF0;
}

.modalCont {
  max-width: 700px;
  margin: 70px auto;
}


/*==============LOGIN PAGE=================  */
.loginContainer {
  margin: 20% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginContainer > h1 {
  margin: 0 auto;
  text-align: center;
  font-family:'Homemade Apple', cursive;
}

.buttonContainer > button {
  width: 100px;
  margin: 10px;
}

.buttonContainer {
  margin-top: 75px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.login {
  width: 500px;
  margin: 20px auto;
  background: #2A2B2E;
  border-radius: 5px;
}

.login > h1 {
  text-align: center;
  color:  #48ACF0;
  margin-top: 10px;
  font-size: 20px;
}

.loginBtn:hover, .loginBtn:focus, .loginBtn:active {
  background: #48ACF0;
}

.register {
  background: #BAFF29;
}

.registerBtn {
  background: #2A2B2E;
  color: white;
}

.login > form {
  display: flex;
  flex-direction: column;
}

.login > form > input, .login > form > button {
  margin: 10px;
}

/*==============HOME PAGE=================  */

.home {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home > h1 {
  text-align: left;
  margin: 20px auto;
  color: #BAFF29;
}

#blue {
  font-family: 'Homemade Apple', cursive;
  font-size: 100px;
  text-align: center;
  margin-bottom: 50px;
}

.chart1 {
  width: 700px;
  height: 400px;
  background: none;
  margin: 10px auto;
}

.home > form {
  margin-bottom: 100px;
}

.delete {
  text-align: center;
}

/*==============SHOW PAGE=================  */
.chartRow {
  max-width: 700px;
  margin: auto;
}


.showTextContainer {
  max-width: 700px;
  margin: 20px auto;
  color: #BAFF29;
}

span {
  color: white;
}

#showDailyTitle {
  margin: 30px auto;
  text-align: center;
  font-family: 'Homemade Apple', cursive;
}

.showDaily > form {
  margin-bottom: 100px;
}

/* ================MEDIA QUERIES================= */
@media (max-width: 800px) {
  .burger >p {
    margin-left: 92%;

  }
}

@media (max-width: 700px) {
  #blue {
    font-size: 50px;
}

@media (max-width: 490px) {
  form {
    font-size: 15px;
  }
  input[type="number"] {
    width: 50px;
  }

  input[type="text"] {
    width: 50px;
  }

  button {
    width: 80px;
  }

}
